{% extends 'LidaaTransBundle::base.html.twig' %}

{% block content %}
    <p>
        <form action="" method="POST">
            {{ form_widget(form) }}
            <input type="submit" value="Envoyer" />
        </form>
        <span class="right"><a href="{{ path('lidaa_trans_index') }}">Index</a></span>
    </p>
{% endblock %}
