{% extends 'LidaaTransBundle::base.html.twig' %}

{% block content %}
    Ajouter une nouvelle clé :<br />
    {% render 'LidaaTransBundle:Translator:transInfos' %}
    <p>
        <form action="" method="POST">
        <table>
            <tr>
                <td>{{ form_widget(form) }}</td>
                <td><input type="submit" value="Enregistrer" /></td>
            </tr>
        </table>
        </form>
        <span class="right"><a href="{{ path('lidaa_trans_index') }}">Index</a></span>
    </p>
{% endblock %}
