
<table class="list">
<tr>
	<th>Bundle</th>
	<th>Domain</th>
	<th>Format</th>
	<th>Locales</th>
</tr>
<tr>
	<td>{{ bundle }}</td>
	<td>{{ domain }}</td>
	<td>{{ format }}</td>
	<td>{{ locales|join(',') }}</td>
</tr>
</table>
